<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Exercise Form</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

<h1>Exercise Form</h1>

<div th:if="${message}" class="message-container">
    <h2 th:text="${message}"/>
</div>

<div class="form-container">
    <form method="POST" enctype="multipart/form-data" action="/forms/exercises" class="form">
        <table class="form-table">
            <tr><td>Exercise name:</td><td><input type="text" name="name" /></td></tr>
            <tr><td>Exercise description:</td><td><input type="text" name="description" /></td></tr>
            <tr><td>Steps:</td><td><textarea name="steps"/></td></tr>
            <tr><td>Common Mistakes:</td><td><textarea name="commonMistakes"></textarea></td></tr>
            <tr><td>Video url:</td><td><input type="text" name="imageUrl" id="imageinput" /></td></tr>
            <tr><td>Video preview:</td><td><video id="preview" src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" width="400" height="200" controls /></td></tr>
            <tr><td>Trained muscles:</td><td><select multiple="multiple" name="selectedMuscles">
                <option th:each="muscle : ${muscles}"
                        th:value="${muscle.id}"
                        th:text="${muscle.name}"></option>
            </select></td></tr>
            <tr><td>Available in machine:</td><td><select name="machine">
                <option th:each="machine : ${machines}"
                        th:value="${machine.getId()}"
                        th:text="${machine.getName()}"></option>
            </select></td></tr>
            <tr><td>Super secret password </td><td><input type="password" name="password" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div class="data-list-container">
    <h2>Existing exercises</h2>
    <ul class="data-list">
        <li th:each="exercise : ${exercises}">
            <a th:text="${exercise.getName()}" th:href="${'/exercises/' + exercise.getId()}" target="_blank" />
        </li>
    </ul>
</div>

<script>
    const i = document.querySelector("#imageinput");
    const p = document.querySelector("#preview");

    i.addEventListener('focusout', () => {
        p.src = i.value;
    });
</script>

</body>
</html>